<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test page</title>
</head>
<body>
	<form action="/make" method="post">
		名字：<input type="text" name="family">
		名前：<input type="text" name="name">
		名字(ローマ字)：<input type="text" name="rubi_family">
		名前(ローマ字)：<input type="text" name="rubi_name">
		学校・会社：<input type="text" name="school">
		学科・所属：<input type="text" name="department">
		メールアドレス：<input type="text" name="mail">
		電話番号：<input type="text" name="tel">
		小画像のbase64：<input type="text" name="pic">
		背景画像のbase64：<input type="text" name="back">
		<input type="submit" value="送信">
	</form>
</body>
</html>